body{
    background-image: url(./Gradient\ geometric\ shapes\ on\ blue\ background\ _\ Premium\ Vector.jpg);
    background-size: cover;
    background-position: center;
    font-size: 10px;
    height: 100%;
    width: 100%;
    color: white;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.you{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.you a{
    text-decoration: none;
    font-size: 15px;
}

.me{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 6px 14px;
  gap: 8px;
}

.box input {
  border: none;
  outline: none;
  background: transparent;
}

.it{
    border-radius: 30px;
    background-color: transparent;
}

h1{
    font-size: 60px;
}

.big{
    font-size: 30px;
}

.small{
    font-size: 15px;
}

.medium{
    color: blue;
}

.now{
    font-size: 20px;
}

.middle{
    display: flex;
    justify-content: space-between;
}
.left{
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-right: 50px;
    background-color: cornsilk;
    transition: 3s;

    animation-name: colorchange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
    animation-direction: reverse;
}

.left:hover{
    background-color: blue;
    width: 50%;
    /* transform: skew(360deg); */
}

@keyframes colorchange{
    0%{
        background-color: red;
        transform: scale(2,2);
    }
    50%{
        background-color: green;
        transform: scale(1.5,1.5);
    }
    100%{
        background-color: blue;
        transform: scale(1,1);
    }
}