body{
    background-image: url(./Gradient\ geometric\ shapes\ on\ blue\ background\ _\ Premium\ Vector.jpg);
    background-size: cover;
    background-position: center;
    font-size: 10px;
    height: 100%;
    width: 100%;
    color: white;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.you{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.you a{
    text-decoration: none;
    font-size: 15px;
}

.me{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}